# OS and IDE files
.env
.idea/
.vscode/*
!.vscode/extensions.json
*.code-workspace
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.certs/

# Logs
logs
*.log
*.logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build outputs
node_modules/
dist/
dist-ssr/
*.local
